@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    @* <link rel="stylesheet" href="~/Pages/Index.cshtml.css" asp-append-version="true" /> *@
}


<div id="divIndexContainer">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="text-center position-absolute top-50 start-50 translate-middle">
                <img src="~/images/SiteLogo.png" alt="Magnifying Glass" width="250">

                <div class="mt-5">
                    <a asp-area="" asp-page="/Search" class="btn btn-secondary btn-lg fw-bold p-4">Begin your adventure</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @* <script src="~/Pages/Index.cshtml.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            Index.Init();
        });
    </script> *@
}