@page
@model StoryModuleModel
@{
    ViewData["Title"] = "Story Module";
}

@section Styles {

    <link rel="stylesheet" href="~/Pages/StoryModule.cshtml.css" asp-append-version="true" />

}


<div id="divStoryModuleContainer" class="pt-3">
    <div class="col-md-8 mx-auto">
        <div id="divModule" class="col-md pt-5">
            <div class="mb-5">
                <div class="card">
                    <div class="card-body">
                        <p id="pModuleContent" class="card-text lyt-line-space">@Model.InitialModule.Contents</p>
                    </div>
                </div>
                <div class="text-center pt-3">
                    <div id="divModuleChoices" class="row">
                        <div class="col-md-6 mx-auto">
                            <button id="btnContinue" type="button" class="btn btn-info stm">Continue <i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ElementTemplates {

    @* divModuleChoice *@
    <div id="gp-divModuleChoice" class="col-md-6">
        <button id="btnModuleChoice" type="button" class="btn btn-primary stm"></button>
    </div>

}


@section Scripts {

    <script src="~/Pages/StoryModule.cshtml.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            await StoryModule.Init();
        });
    </script>

}