@page
@model StoryModuleModel
@{
    ViewData["Title"] = "Story Module";
}

@section Styles {
    <link rel="stylesheet" href="~/Pages/StoryModule.cshtml.css" asp-append-version="true" />
}


<div id="divStoryModuleContainer">
    <div class="input-section">
        <input type="text" id="story-keyword" placeholder="Enter a story keyword...">
        <button id="load-story">Load Story</button>
    </div>
    <div id="story-box">
        <p id="story-text">Welcome! Please enter a keyword to start a story.</p>
    </div>
    <div id="choices-container"></div>
    <div class="input-section">
        <button id="restart" style="display:none;">Choose Another Story</button>
    </div>
</div>


@section Scripts {
    @*     <script src="~/Pages/StoryModule.cshtml.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            StoryModule.Init();
        });
    </script> *@
}