<div id="moduleChoiceResultModalContainer">

    @* Result Pass Modal *@

    <div class="modal fade" id="divResultPassModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="resultPassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header shadow">
                    <h1 class="modal-title fs-4 fw-bold" id="resultPassModalLabel"><i class="fa-solid fa-user-secret"></i> Outcome</h1>
                </div>
                <div id="divChoiceResult" class="modal-body"></div>
                <div class="modal-footer bg-light">
                    <button id="btnContinue" type="button" class="btn btn-success lyt-btn-shadow">Continue</button>
                </div>
            </div>
        </div>
    </div>


    @* Result Fail Modal *@

    <div class="modal fade" id="divResultFailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="resultFailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header shadow">
                    <h1 class="modal-title fs-4 fw-bold" id="resultFailModalLabel"><i class="fa-solid fa-user-secret"></i> Outcome</h1>
                </div>
                <div id="divChoiceResult" class="modal-body"></div>
                <div class="modal-footer bg-light">
                    <button id="btnRestart" type="button" class="btn btn-secondary lyt-btn-shadow">Play Again</button>
                </div>
            </div>
        </div>
    </div>


    @* End Module Modal *@

    <div class="modal fade" id="divEndModuleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="endModuleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header shadow">
                    <h1 class="modal-title fs-4 fw-bold" id="endModuleModalLabel"><i class="fa-solid fa-user-secret"></i> Final Outcome</h1>
                </div>
                <div id="divEndModule" class="modal-body"></div>
                <div class="modal-footer bg-light">
                    <button id="btnRestart" type="button" class="btn btn-secondary lyt-btn-shadow">Play Again</button>
                </div>
            </div>
        </div>
    </div>

</div>